<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="<%= locals.description != null ? description :
        'Discord Templates - Discover a huge variety of Discord server templates for all purposes.' %>">
<meta name="theme-color" content="#1e90ff">
<meta property="og:type" content="website">
<meta property="og:url" content="https://discordtemplates.me">
<meta property="og:site_name" content="Discord Templates">
<meta property="og:title" content="<%= locals.title != null ? title : 'Discord Templates' %>">
<meta property="og:description" content="<%= locals.description != null ? description :
        'Discord Templates - Discover a huge variety of Discord server templates for all purposes.' %>">
<meta property="og:image" content="<%= locals.image != null ? image : 'https://discordtemplates.me/icon.png' %>">
<meta property="twitter:card" content="summary">
<meta property="twitter:title" content="<%= locals.title != null ? title : 'Discord Templates' %>">
<meta property="twitter:description" content="<%= locals.description != null ? description :
        'Discord Templates - Discover a huge variety of Discord server templates for all purposes.' %>">
<meta property="twitter:image" content="<%= locals.image != null ? image : 'https://discordtemplates.me/icon.png' %>">
<title><%= locals.title != null ? title + ' | ' : '' %>Discord Templates</title>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<link rel="stylesheet" href="/assets/bootstrap.min.css" type="text/css">
<script async src="https://www.googletagmanager.com/gtag/js?id=G-63B9SJRP44"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-63B9SJRP44');
</script>
<script data-no-optimize="1" data-cfasync="false">
    (function(w, d) {
        w.adthrive = w.adthrive || {};
        w.adthrive.cmd = w.adthrive.cmd || [];
        w.adthrive.plugin = 'adthrive-ads-manual';
        w.adthrive.host = 'ads.adthrive.com';
        var s = d.createElement('script');
        s.async = true;
        s.referrerpolicy = 'no-referrer-when-downgrade';
        s.src = 'https://' + w.adthrive.host + '/sites/64b982b704832e03eb93ff94/ads.min.js?referrer=' + w.encodeURIComponent(w.location.href) + '&cb=' + (Math.floor(Math.random() * 100) + 1);
        var n = d.getElementsByTagName('script')[0];
        n.parentNode.insertBefore(s, n);
    })(window, document);
</script>
<style>
    body {
        color: white;
        background-color: #2c2f33;
    }

    hr {
        border-color: dimgrey;
        width: 70%;
        margin-left: 15%;
    }

    .main-content {
        min-height: calc(100vh - 66px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .icon {
        height: 1em;
        width: 1.5em;
        margin-top: -0.15em;
    }

    .icon-sm {
        height: 0.875em;
        width: 1.3125em;
    }

    .icon-lg {
        height: 2em;
        width: 3em;
    }

    .no-arrow:after {
        display: none;
    }

    .btn-pill {
        border-radius: 100px;
        padding-left: 1em;
        padding-right: 1em;
    }

    .form-control-dark, .form-control-dark:focus {
        background-color: #343a40;
        color: white;
        border-color: #343a40;
    }

    .form-control-dark::placeholder {
        color: grey;
    }

    .form-control-dark:disabled, input.form-control-dark:read-only, textarea.form-control-dark:read-only {
        background-color: #343a40;
        color: grey;
    }

    .form-control-darker, .form-control-darker:focus {
        background-color: #23272a;
        color: white;
        border-color: #23272a;
    }

    .form-control-darker::placeholder {
        color: grey;
    }

    .form-control-darker:disabled, input.form-control-darker:read-only, textarea.form-control-darker:read-only {
        background-color: #23272a;
        color: grey;
    }

    .tooltip-inner {
        text-align: left;
        white-space: pre-line;
    }

    #particles-js {
        position: absolute;
        width: 100%;
        height: 65vh;
        z-index: -1;
        background-color: #2c2f33;
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
    }
</style>
