<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'Admin Panel'}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>Admin Panel</h3>
            <h5>The admin control panel for Discord Templates.</h5>
        </div>
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card shadow py-2 bg-dark">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-xs mb-1">
                                    <span>Total Templates</span>
                                </div>
                                <div class="font-weight-bold h5 mb-0">
                                    <span><%= stats.templates %></span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-sliders-h fa-2x text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card shadow py-2 bg-dark">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-xs mb-1">
                                    <span>Total Users</span>
                                </div>
                                <div class="font-weight-bold h5 mb-0">
                                    <span><%= stats.users %></span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-user fa-2x text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card shadow py-2 bg-dark">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters">
                            <div class="col mr-2">
                                <div class="font-weight-bold text-xs mb-1">
                                    <span>Pending Requests</span>
                                </div>
                                <div class="font-weight-bold h5 mb-0">
                                    <span><%= stats.requests %></span>
                                </div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clipboard-list fa-2x text-muted"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card shadow bg-dark text-white">
            <div class="card-header py-3">
                <p class="m-0 font-weight-bold">Pending Requests</p>
            </div>
            <div class="card-body text-white">
                <div class="table-responsive table mt-2" id="dataTable" role="grid"
                     aria-describedby="dataTable_info">
                    <table class="table table-dark dataTable my-0" id="dataTable">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% for (let element of requests) { %>
                            <tr>
                                <td><%= element.name %></td>
                                <td>
                                    <a class="btn btn-primary btn-sm" role="button"
                                       href="/templates/<%= element.guild %>">
                                        View
                                    </a>
                                    <button class="btn btn-secondary btn-sm ml-2" type="button"
                                            data-toggle="modal" data-target="#request-modal"
                                            data-id="<%= element.id %>">
                                        Review
                                    </button>
                                </td>
                            </tr>
                        <% } %>
                        </tbody>
                        <tfoot>
                        <tr></tr>
                        </tfoot>
                    </table>
                </div>
                <div class="modal fade" id="request-modal" tabindex="-1" role="dialog"
                     aria-labelledby="request-modal-label" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content bg-dark">
                            <div class="modal-header border-secondary">
                                <h5 class="modal-title" id="request-modal-label">Review Request</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" class="text-white"
                                          style="text-shadow: none;">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="request-form" class="needs-validation" method="post"
                                      action="/admin/review" novalidate>
                                    <div class="form-group">
                                        <label for="request-code" class="col-form-label">Code</label>
                                        <input name="code" type="text" class="form-control form-control-darker"
                                               id="request-code" readonly>
                                    </div>
                                    <div class="form-group">
                                        <label for="request-name" class="col-form-label">Name</label>
                                        <input name="name" type="text" class="form-control form-control-darker"
                                               id="request-name" readonly>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="request-approve" class="custom-control-input"
                                               name="action" value="approve" checked>
                                        <label class="custom-control-label"
                                               for="request-approve">Approve</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="request-deny" class="custom-control-input"
                                               name="action" value="deny">
                                        <label class="custom-control-label" for="request-deny">Deny</label>
                                    </div>
                                    <div class="form-group">
                                        <label for="request-message" class="col-form-label">Message:</label>
                                        <textarea name="message" class="form-control form-control-darker"
                                                  id="request-message" maxlength="1024" required></textarea>
                                        <div class="invalid-feedback">
                                            This field is required.
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer border-secondary">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                    Close
                                </button>
                                <button type="submit" class="btn btn-primary" form="request-form">
                                    Confirm
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
<script>
    $('#request-modal').on('show.bs.modal', function (event) {
        var code = $(event.relatedTarget).data('id');
        var name = $(event.relatedTarget).parent().parent().children().first().text();
        $('#request-code').val(code);
        $('#request-name').val(name);
    });
</script>
</body>

</html>
