<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'ModMail Log'}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>ModMail Log</h3>
            <h5>The beautiful ModMail chat log viewer. All timestamps represent UTC time zone.</h5>
        </div>
        <div class="card bg-dark my-2">
            <div class="card-body">
                <% for (let element of messages) { %>
                    <div class="card bg-dark my-2 border-0">
                        <div class="card-title mb-1">
                            <span style="color: #<%= element.role == 'Staff' ? 'FF4500' : '00FF00'%>">
                                <%= element.username %>#<%= element.discriminator %>
                            </span>
                            <span class="text-muted"><%= element.timestamp %></span>
                        </div>
                        <div class="card-body px-0 pt-0 pb-2">
                            <%= element.message %>
                            <% if (element.attachments.length !== 0) { %>
                                <% let supported = ['.bmp', '.gif', '.jpg', 'jpeg', '.png'] %>
                                <div class="row mt-2">
                                    <% for (let element2 of element.attachments) { %>
                                        <% if (supported.includes(element2.slice(-4).toLowerCase())) { %>
                                            <div class="col flex-grow-0">
                                                <a href="<%= element2 %>" target="_blank">
                                                    <img src="<%= element2 %>" alt="<%= element2 %>" style="max-width: 300px;">
                                                </a>
                                            </div>
                                        <% } else { %>
                                            <div class="col-12">
                                                <a href="<%= element2 %>" target="_blank"><%= element2 %></a>
                                            </div>
                                        <% } %>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>