<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'New Template'}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>New Template</h3>
            <h5>Submit a template to be added to the list.</h5>
        </div>
        <div class="card shadow py-2 bg-dark">
            <div class="card-body">
                <h5 class="card-title">Your Template</h5>
                <form class="needs-validation" method="<%= locals.template != null ? 'post' : 'get' %>"
                      action="/templates/new" novalidate>
                    <div class="form-group">
                        <label for="template-code" class="col-form-label">Link</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text form-control-darker">https://discord.new/</span>
                            </div>
                            <input name="code" type="text" class="form-control form-control-darker" id="template-code"
                                   value="<%= locals.template != null ? template.code : '' %>"
                                    <%= locals.template != null ? 'readonly' : 'required' %>>
                        </div>
                    </div>
                    <% if (locals.template != null) { %>
                        <div class="form-group">
                            <label for="template-name" class="col-form-label">Name</label>
                            <input name="name" type="text" class="form-control form-control-darker" id="template-name"
                                   value="<%= template.name %>" disabled>
                        </div>
                        <div class="form-group">
                            <label for="template-description" class="col-form-label">Description</label>
                            <textarea name="description" class="form-control form-control-darker"
                                      id="template-description" disabled><%= template.description %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="template-tag1" class="col-form-label">First Tag</label>
                            <select name="tag1" class="form-control form-control-darker" id="template-tag1" required>
                                <option>Community</option>
                                <option>Gaming</option>
                                <option>Roleplay</option>
                                <option>Friends</option>
                                <option>Art</option>
                                <option>Anime</option>
                                <option>Music</option>
                                <option>Meme</option>
                                <option>Economy</option>
                                <option>Coding</option>
                                <option>Learning</option>
                                <option>Support</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="template-tag2" class="col-form-label">Second Tag (Optional)</label>
                            <select name="tag2" class="form-control form-control-darker" id="template-tag2" required>
                                <option>None</option>
                                <option>Community</option>
                                <option>Gaming</option>
                                <option>Roleplay</option>
                                <option>Friends</option>
                                <option>Art</option>
                                <option>Anime</option>
                                <option>Music</option>
                                <option>Meme</option>
                                <option>Economy</option>
                                <option>Coding</option>
                                <option>Learning</option>
                                <option>Support</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="template-server" class="col-form-label">Do you want to display <span
                                        class="font-weight-bold"><%= template.serialized_source_guild.name %></span> as
                                sample?</label>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="template-server-yes" class="custom-control-input"
                                       name="server" value="true">
                                <label class="custom-control-label"
                                       for="template-server-yes">Yes</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="template-server-no" class="custom-control-input"
                                       name="server" value="false" checked>
                                <label class="custom-control-label" for="template-server-no">No</label>
                            </div>
                            <p id="template-server-hint" class="d-none mt-2">
                                Work in progress...
                            </p>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-primary">
                        <%= locals.template != null ? 'Submit' : 'Next' %>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
<script>
    $('input[type=radio][name=server]').change(function () {
        if (this.value == 'true') {
            $('#template-server-hint').removeClass('d-none');
        } else {
            $('#template-server-hint').addClass('d-none');
        }
    });
    $('#template-code').on('input', function () {
        if (this.value.startsWith('https://discord.new/')) {
            $(this).val(this.value.substring(20));
        }
    });
</script>
</body>

</html>