<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: 'New Template'}) %>
</head>

<body class="new-template">
<%- include('partials/navbar', {user: user}) %>
<div class="main-content">
    <div class="container mt-5 mb-4">
        <div class="align-items-center mb-4">
            <h1>New Template</h1>
            <h2 class="h5">Submit a template to be added to the list.</h2>
        </div>
        <div class="card shadow py-2 bg-dark">
            <div class="card-body">
                <p class="h3 card-title">Your Template</p>
                <p>
                    To create a server template, please go to Server Settings → Server Template. You can set a title and
                    a description for your template. Once you are done, click on generate link, and paste the link
                    below. It should look something like this: https://discord.new/VPZ6258KTWqs.
                </p>
                <form class="needs-validation" method="<%= locals.template != null ? 'post' : 'get' %>"
                      action="/templates/new" novalidate>
                    <div class="form-group">
                        <label for="template-code" class="col-form-label">Link</label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text form-control-darker">https://discord.new/</span>
                            </div>
                            <input name="code" type="text" class="form-control form-control-darker" id="template-code"
                                   value="<%= locals.template != null ? template.code : '' %>"
                                   <%= locals.template != null ? 'readonly' : 'required' %>>
                        </div>
                    </div>
                    <% if (locals.template != null) { %>
                        <div class="form-group">
                            <label for="template-name" class="col-form-label">Name</label>
                            <input name="name" type="text" class="form-control form-control-darker" id="template-name"
                                   value="<%= template.name %>" disabled>
                        </div>
                        <div class="form-group">
                            <label for="template-description" class="col-form-label">Description</label>
                            <textarea name="description" class="form-control form-control-darker"
                                      id="template-description" disabled><%= template.description %></textarea>
                        </div>
                        <div class="form-group">
                            <label for="template-tag1" class="col-form-label">First Tag</label>
                            <select name="tag1" class="form-control form-control-darker" id="template-tag1" required>
                                <option>Community</option>
                                <option>Gaming</option>
                                <option>Roleplay</option>
                                <option>Friends</option>
                                <option>Art</option>
                                <option>Music</option>
                                <option>Meme</option>
                                <option>Economy</option>
                                <option>Coding</option>
                                <option>Learning</option>
                                <option>Support</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="template-tag2" class="col-form-label">Second Tag (Optional)</label>
                            <select name="tag2" class="form-control form-control-darker" id="template-tag2" required>
                                <option>None</option>
                                <option>Community</option>
                                <option>Gaming</option>
                                <option>Roleplay</option>
                                <option>Friends</option>
                                <option>Art</option>
                                <option>Music</option>
                                <option>Meme</option>
                                <option>Economy</option>
                                <option>Coding</option>
                                <option>Learning</option>
                                <option>Support</option>
                            </select>
                        </div>
                    <% } %>
                    <button type="submit" class="btn btn-primary mt-2">
                        <%= locals.template != null ? 'Submit' : 'Next' %>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
<script>
    $('#template-code').on('input', function () {
        if (this.value.startsWith('https://discord.new/')) {
            $(this).val(this.value.substring(20));
        }
    });
</script>
</body>

</html>
