<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: tag.charAt(0).toUpperCase() + tag.slice(1)}) %>
</head>

<body>
<div class="main-content">
    <%- include('partials/navbar', {user: user}) %>
    <div class="container my-4">
        <div class="align-items-center mb-4">
            <h3>Tag</h3>
            <h5>Browse templates by tag.</h5>
        </div>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/community">Community</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/gaming">Gaming</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/roleplay">Roleplay</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/friends">Friends</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/art">Art</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/anime">Anime</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/music">Music</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/meme">Meme</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/economy">Economy</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/coding">Coding</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/learning">Learning</a>
        <a role="button" class="btn btn-outline-info btn-sm btn-pill font-weight-bold mb-2"
           href="/tags/support">Support</a>
        <div class="row mt-4">
            <% if (templates.length === 0) { %>
                <div class="col text-center">
                    <h5 class="display-3">:(</h5>
                    <h5 class="mt-4">No result found.</h5>
                </div>
            <% } else { %>
                <% for (let element of templates) { %>
                    <div class="col-12 col-md-6 col-lg-4">
                        <%- include('partials/card', {template: element}) %>
                    </div>
                <% } %>
            <% } %>
        </div>
        <div class="mt-4 text-center">
            <a role="button" class="btn btn-secondary mb-0<%= page === 1 ? ' disabled' : '' %>"
               href="/tags/<%= tag %>?page=<%= page - 1 %>">Previous</a>
            <a role="button" class="btn btn-secondary mb-0 ml-2"
               href="/tags/<%= tag %>?&page=<%= page + 1 %>">Next</a>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>