<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head', {title: profile.username + '#' + profile.discriminator, description: '',
    image: profile.avatar == null ? 'https://cdn.discordapp.com/embed/avatars/0.png' :
    `https://cdn.discordapp.com/avatars/${profile.id}/${profile.avatar}.png?size=256`}) %>
</head>

<body class="user">
<%- include('partials/navbar', {user: user}) %>
<div class="main-content">
    <div class="container mt-5 mb-4">
        <div class="align-items-center mb-4">
            <h1>User Profile</h1>
        </div>
        <div class="card shadow py-2 bg-dark">
            <div class="card-body">
                <div class="row">
                    <div class="col col-lg-1"></div>
                    <div class="col-12 col-lg-3 text-center">
                        <img src="<%= profile.avatar == null ? 'https://cdn.discordapp.com/embed/avatars/0.png' :
                                `https://cdn.discordapp.com/avatars/${profile.id}/${profile.avatar}.png?size=256` %>"
                             class="card-img rounded-circle" style="height: 220px; width: 220px;" alt="Avatar">
                    </div>
                    <div class="col-12 col-lg-7 pl-4 my-auto text-center text-lg-left pt-4 pt-lg-0">
                        <p class="h3 card-title"><%= profile.username %>#<%= profile.discriminator %></p>
                        <div class="h4">
                            <span class="badge badge-primary font-weight-normal">
                                <%= templates.length %> templates listed
                            </span>
                        </div>
                        <div class="h4">
                            <span class="badge badge-success font-weight-normal">
                                Templates used <%= templates.map(element => element.usage).reduce((a, b) => a + b, 0) %>
                                times
                            </span>
                        </div>
                        <p class="card-text">
                            <em>Joined <%= moment(parseInt(profile.joined)).fromNow() %></em>
                        </p>
                    </div>
                    <div class="col col-lg-1"></div>
                </div>
            </div>
        </div>
        <h2 class="h3 mt-5 mb-4">Templates</h2>
        <div class="row">
            <% if (templates.length === 0) { %>
                <div class="col text-center">
                    <p class="display-3">:(</p>
                    <p class="h5 mt-4">No result found.</p>
                </div>
            <% } else { %>
                <% for (let element of templates) { %>
                    <div class="col-12 col-md-6 col-lg-4">
                        <%- include('partials/card', {template: element}) %>
                    </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <%- include('partials/footer') %>
</div>
<%- include('partials/foot') %>
</body>

</html>
